extends layout
block append head
    link(rel="stylesheet", href="/public/stylesheets/profile.css")
    script(src="/public/javascripts/index.js")
block append content
    // Main content
    .container
        // Side bar list
        .col-xs-3.col-sm-3.col-md-3
            #sidebar
                a.add-profile-link.sidebar-items(href="/profile/add") Add a Profile
        // Brief profiles
        .col-xs-9.col-sm-9.col-md-9#profile-container
            // When no profiles exist
            if (!people.length)
                .well.no-profiles
                    h3 Oh no, there aren't any profiles!
                    a.add-profile(href="/profile/add") Why not be the first and add a new profile?
            // When profiles do exist
            each person in people
                .well
                    img(src=`${person.image}`)
                    h1 #{person.name}