extends layout
block append head
block append content
    #test-container
    #profile-container
   
    //-script(src="/public/javascripts/components/profile.js" data-plugins="transform-es2015-modules-umd" type="text/babel")
        //- // When no profiles exist
        //- if (!people.length)
        //-     .well.no-profiles
        //-         h3 Oh no, there aren't any profiles!
        //-         a.add-profile(href="/profile/add") Why not be the first and add a new profile?
        //- // When profiles do exist
        //- each person in people
        //-     .well
        //-         img(src=`${person.image}`)
        //-         h1 #{person.name}

    
    //- script(data-plugins="transform-es2015-modules-umd" type="text/babel").
    //-     ReactDOM.render(
    //-         <Profile count="5" />,
    //-         document.getElementById('profile-container')
    //-     )  