doctype html
// Responsible for Global stuff such as title and links/scripts, headers etc.
html
    head
    block head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // jQuery
        script(src="/public/libs/jquery-3.3.1.min.js")
        // bootstrap js
        script(src="/public/libs/bootstrap.min.js", crossorigin="anonymous")
        script(src="/public/libs/bootstrap.bundle.min.js", crossorigin="anonymous")
        // bootstrap css
        link(rel="stylesheet", href="/public/libs/bootstrap.min.css", crossorigin="anonymous")
        link(rel="stylesheet" href="/public/libs/bootstrap-grid.min.css" crossorigin="anonymous")
        link(rel="stylesheet" href="/public/libs/bootstrap-reboot.min.css" crossorigin="anonymous")
        // Logo
        link(rel="shortcut icon", href="/public/images/juanportal-logo.png")
        // Below is no longer required as there is no inline stuff anymore
        // Babel
        //-script(src="/public/libs/babel.js")
        // React
        //-script(src="/public/libs/react.js")
        // React DOM
        //-script(src="/public/libs/react-dom.js")
        // TypeScript
        //-script(src="/public/libs/typescript.min.js")
        //-script(src="/public/libs/typescript.compile.min.js")
        // own css
        link(rel="stylesheet", href="/public/stylesheets/layout.css")
        // Notification library - see https://github.com/MLaritz/Vanilla-Notify
        link(rel="stylesheet", href="/public/libs/vanilla-notify.css")
        script(src="/public/libs/vanilla-notify.min.js")
        // IDK
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
    body
        header#header

        .container
            .row
                .col-xs-4
                    #sidebar-container
                        block sidebar

                .col
                    block content
                    
        script(src="/public/javascripts/app.js")