doctype html
// Responsible for Global stuff such as title and links/scripts, headers etc.
html
    head
    block head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // jQuery
        script(src="/public/libs/jquery-3.3.1.min.js")
        // bootstrap js
        script(src="/public/libs/bootstrap.min.js", crossorigin="anonymous")
        // bootstrap css
        link(rel="stylesheet", href="/public/libs/bootstrap.min.css", crossorigin="anonymous")
        // Logo
        link(rel="shortcut icon", href="/public/images/juanportal-logo.png")
        // Babel
        script(src="/public/libs/babel.js")
        // React
        script(src="/public/libs/react.js")
        // React DOM
        script(src="/public/libs/react-dom.js")
        // TypeScript
        script(src="/public/libs/typescript.min.js")
        script(src="/public/libs/typescript.compile.min.js")
        // own css
        link(rel="stylesheet", href="/public/stylesheets/layout.css")
    body
        header#header
            h1
                strong.well #{title}
                br
        .container
            .col-xs-3 
                #sidebar 
                    block sidebar 

            .col-xs-9
                block content