node_modules/
.git
.idea
logs
public/images
.vscode
app.js
interfaces/models/*.js
interfaces/controllers/*.js
models/*.js
controllers/*.js
helpers/ImageHelper.js
helpers/MailHelper.js
middleware/*.js
public/javascripts/components/*.js