{
  "all": true,
  "check-coverage": true,
  "branches": 89,
  "lines": 87,
  "functions": 78,
  "statements": 86,
  "extension": [
      ".ts"
  ],
  "include": [
      "**/*.js",
      "**/*.ts"
    ],
    "sourceMap": true,
  "exclude": [
    "public",
    "components",
    "data",
      "bin",
      "coverage",
      "tests",
      "jest.config.js",
      "webpack.config.js",
      "ecosystem.config.js",
      "routes/chat.ts"
   ],
   "reporter": "lcov",
     "instrument": true
}