src/package-lock.json
src/node_modules/
.git
.idea
src/logs
src/public/images
.vscode
src/*/app.js
src/*/interfaces/models/*.js
src/*/interfaces/controllers/*.js
src/*/models/*.js
src/*/controllers/*.js
src/*/helpers/ImageHelper.js
src/*/helpers/MailHelper.js
src/*/helpers/RedisHelper.js
src/*/helpers/JWT.js
src/juanportal/public/javascripts/components/*.js
src/*/schemas/*.js
src/juanportal/public/javascripts/*.js
src/juanportal/components/util.js
src/juanportal/coverage
src/api/coverage
src/api/.nyc_output
src/socket/__pycache__
src/socket/*.pyc
src/socket/node_modules
src/socket/server.js
src/socket/socket.js
src/socket/app.js
src/socket/bin/www.js
src/api/**/*.js.map
