head, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

#header{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

#sidebar .sidebar-item {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-top: 0.5em;
}

.no-profiles {
    text-align: center;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-top: 0.5em;
}

#profile-container .profile {
    overflow: hidden;
    margin: 1em;
}
#profile-container .profile img {
    max-width: 95%;
    max-height: 95%;
    /* height: 100px; */
    overflow: hidden;
    display: block;

}
#profile-container .profile .actions {
    text-align: center;
}
#profile-container .profile .actions .action {
    display: block;
    margin: 0.5em auto 0.5em auto;
}
#profile-container .profile h3.name {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
#profile-container .profile p.description {
    word-break: break-word;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

#form-container > form {
    text-align: center;
}
#form-container > form .field-container > input {
    text-align: center;
    display: block;
    margin: auto;
    padding: 0.2em;
}
#form-container > form label.required-field {
    color: red;
}
#form-container > form label.field-container {
    margin: 1em 0 1em 0;
}
#form-container > form fieldset {
    display: flex;
}
#form-contaner > form input[type="file"] {
    margin-left: 8.5em;
}
#form-container > form .notify {
    border-radius: 5px;
    color: white;
    background: white;
    padding: 0.2em;
}
#form-container > form .notify.success {
    background: green;
}
#form-container > form .notify.error {
    background: red;
}