head, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color: black;
}

#header{
    text-align: center;
    margin: 5em;
}

#sidebar {
    border-right: 2px black dotted;
}
#sidebar .sidebar-item {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-top: 0.5em;
    opacity: 0.7;
}
#sidebar .sidebar-item:hover {
    opacity: 1;
}