head, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color: black;
}

#header{
    text-align: center;
    margin: 5em;
}

#sidebar {
    border-right: 2px black dotted;
}
#sidebar .sidebar-item {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-top: 0.5em;
    opacity: 0.7;
}
#sidebar .sidebar-item:hover {
    opacity: 1;
}

.no-profiles {
    text-align: center;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-top: 0.5em;
}

#profile-container .profile {
    overflow: hidden;
    margin: 1em;
}
#profile-container .profile img {
    max-width: 95%;
    max-height: 95%;
    /* height: 100px; */
    overflow: hidden;
    display: block;

}
#profile-container .profile .actions {
    text-align: center;
}
#profile-container .profile .actions .action {
    display: block;
    margin: 0.5em auto 0.5em auto;
}
#profile-container .profile h3.name {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
#profile-container .profile p.description {
    word-break: break-word;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

/**
 * Whole form
 */
#form-container > form {
    text-align: center;
    background-color: #f4f7f8;
    padding: 1em;
    border-radius: 8px;
}
/**
 * Fieldset
 */
 #form-container > form fieldset {
    display: flex;
}
/**
 * Notification container
 */
 #form-container > form .notify {
    border-radius: 5px;
    color: white;
    background: #f4f7f8;
    padding: 0.2em;
}
/**
 * ^ but when a success
 */
#form-container > form .notify.success {
    background: green;
}
/**
 * ^ but when an error
 */
#form-container > form .notify.error {
    background: red;
}
/**
 * Label containers for each field (text, input etc)
 */
 #form-container > form label.field-container {
    margin: 1em 0 1em 0;
}
/**
 * Each input element
 */
#form-container > form .field-container > input {
    text-align: center;
    display: block;
    margin: auto;
    padding: 0.2em;
}
/**
 * Asterisks
 */
#form-container > form i.required-field {
    color: red;
}
/**
 * Text description for fields
 */
#form-container > form label.field-container > span {
    margin-bottom: 0.3em;
    display: block;
}
/**
 * File input container
 */
#form-container > form label.field-container.file-upload-container {
    width: fit-content;
    margin: 0.3em auto 0.3em auto;
}
/**
 * File input element
 */
#form-container > form label.field-container > input[type="file"] {
    background-color: #f4f7f8;
    display: none
}
/**
 * File name inside file input container. Reason for the end of the below selector is because the upload button was pushed slightly when the <i> element had no content, so to combat this, only apply the margins when it has content
 */
#form-container > form label.field-container.file-upload-container > i#filename:not(:empty) {
    margin-left: 0.3em; /* To space the text and button apart */
}
/**
 * Tick icon inside file container when a file is selected
 */
#form-container > form label.field-container.field-container > i#filename:not(:empty) > i.fas {
    margin-lefT: 0.3em;
}
#form-container > form label.field-container.field-container > i#filename:not(:empty) > i.fas.fa-times {
    color: red;
}
#form-container > form label.field-container.field-container > i#filename:not(:empty) > i.fas.fa-check-circle {
    color: green;
}
/**
 * Submit button, most of the styles below are to seperate the button from the main fields to not confuse that its part of the fields to fill in
 */
#form-container > form input[type="submit"] {
    width: 80%;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 1em auto 1em auto; /* Keep this seperate from the main fields to make it stand out more */
}