doctype html
// Responsible for Global stuff such as title and links/scripts, headers etc.
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // jQuery
        script(src="http://localhost/juanportal/libs/jquery-3.3.1.min.js")
        // bootstrap js
        script(src="http://localhost/juanportal/libs/bootstrap.min.js", crossorigin="anonymous")
        // bootstrap css
        link(rel="stylesheet", href="http://localhost/juanportal/libs/bootstrap.min.css", crossorigin="anonymous")
        // own css
        link(rel="stylesheet", href="http://localhost/juanportal/public/stylesheets/style.css")
    body
        main
        block header
            header.header
                h1
                    strong #{title}
        block content