doctype html
// Responsible for Global stuff such as title and links/scripts, headers etc.
html
    head
        title #{title}
        link(rel="stylesheet", href="http://localhost/juanportal/public/stylesheets/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        main
        block header
            header.header
                h1 #{title}
        block content