extends layout
block append header
    link(rel="stylesheet", href="http://localhost/juanportal/public/stylesheets/profile.css")
block content
    div.container
        div.profile
            div.col-xs-12
                div.col-xs-1
                    a(href="http://localhost:3005/") Home
                div.col-xs-6
                    img#profile-image(src=`${image}`)
                div.col-xs-5
                    h1#profile-name #{name}
                    h1#profile-description #{description}
        div