extends layout
block header
block content
    div.profile
        div.profile-image("Profile image")
        div.profile-details
            h1.profile-name
                | #{name} #{description}
            br
