extends layout
block append header
    link(rel="stylesheet", href="http://localhost/juanportal/public/stylesheets/profile.css")
block content
    div.container
        div.profile
            div.col-xs-12
                div.col-xs-6
                    img#profile-image(src="http://localhost/copytube/images/sample.jpg")
                div.col-xs-6
                    h1#profile-name #{name}
                    h1#profile-description #{description}
        div