extends ../layout
block append head
    //- script(src="/public/javascripts/profile/add.js")
    //- link(rel="stylesheet" href="/public/stylesheets/form.css")
block append content
    // Main content
    div.container
        div.col-xs-6.col-xs-offset-3
            div#form-container
            a(href="/") Home

        script(type="text/babel" src="/public/javascripts/components/registerForm.js")