extends ../layout
block append head
block append sidebar
    a.sidebar-item(href="/") Home
block append content
    // Main content
    div#form-container
    
    script(type="text/babel" src="/public/javascripts/components/registerForm.js")