extends ../layout
block append head
block append sidebar
    a.sidebar-item(href="/") Home
block append content
    #profile-id(data-id=`${id}`)
    #profile-container

    
        //- // When no profiles exist
        //- if (!people.length)
        //-     .well.no-profiles
        //-         h3 Oh no, there aren't any profiles!
        //-         a.add-profile(href="/profile/add") Why not be the first and add a new profile?
        //- // When profiles do exist
        //- each person in people
        //-     .well
        //-         img(src=`${person.image}`)
        //-         h1 #{person.name}

    script(src="/public/javascripts/profile.js")
    script(data-plugins="transform-es2015-modules-umd" type="text/babel").
        const idElem = document.getElementById('profile-id')
        const id = idElem.getAttribute('data-id')
        ReactDOM.render(
            <Profile id={id} />,
            document.getElementById('profile-container')
        )  