extends ../layout
block append head
    
block append content
    div#profile-id(data-id=`${id}`)
    div.container
        div.profile
            div.col-xs-12
                div.col-xs-1
                    a(href="/") Home
                div.col-xs-6
                    img#profile-image(src=`${image}`)
                div.col-xs-5
                    h1#profile-name #{name}
                    h1#profile-description #{description}
        div