.image {
    max-width: 95%;
    max-height: 95%;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.person{
    overflow: hidden;
}

.profile-actions {
    text-align: center;
    margin-top: 0.5em;
    display: block;
}

.person-name {
    word-wrap: break-word;
    text-align: center;
}

.sidebar-items, .no-profiles {
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-top: 0.5em;
}

#sidebar {
    display: inline-block;
}

.no-profiles {
    text-align: center;
}
