{
  "all": true,
  "check-coverage": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100,
  "per-file": true,
  "extension": [
      ".ts"
  ],
  "include": [
      "**/*.js",
      "**/*.ts"
    ],
    "sourceMap": true,
  "exclude": [
      "bin",
      "coverage",
      "controllers/example.ts",
      "interfaces",
      "tests",
      "helpers/logger.js",
      "ecosystem.config.js",
      "routes/test.js"
   ],
   "reporter": "text",
     "instrument": true
}