extends ../layout
block content
    // Main content
    div.container
        div.col-xs-12
            form(method="post", action="/profile/add", enctype="multipart/form-data")
                div
                    if nameErr
                        p #{nameErr}
                    input#name(type="text", placeholder="name", name="name", size="35", required)
                br
                div
                    if descriptionErr
                        p #{descriptionErr}
                    input#description(type="text", placeholder="description", size="105" name="description")
                br
                div
                    if imageErr
                        p #{imageErr}
                    input#image(type="file", name="image")
                br
                div
                    input#add(value="Submit", type="submit")