{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "extension": [
        ".ts"
    ],
       "instrument": true,
  "include": [
      "*.ts"
  ],
  "exclude": [
      "bin",
      "coverage",
      "ecosystem.config.js",
      "test"
   ],
   "reporter": "html"
}