/**
 * Description
 *
 * This file demonstrates the use of a CSS module when used inside a react component
 * when wanting to deal with a pure css file
 *
 * Example Usage
 *
 * // mycomponent.js
 * import styles from 'this/file.css'
 * ...
 *   <button className={styles.button} // jumbles up the class name in the browser
 *   // OR if modules is set to false in the css loader block in the webpakc config
     <button className="button"
 */

/*******************************
 * Traffic Light object
 *******************************/
/* Traffic light buttons */
/* Swap out the white text and give each button a bit of an effect */
.trafficLight {
  color: var(--custom-white);
  width: auto;
  padding: 0.3em 0.4em;
  margin: 0.1em 0.1em;
  transition-duration: 0.3s;
}
.trafficLight:hover {
  background-color: var(--custom-white);
  box-shadow: 0px 0px 5px 1px;
}
.trafficLight:focus {
  color: var(--custom-white);
}

.greenLight {
  background-color: var(--custom-green);
}
.greenLight i {
  color: var(--custom-white);
}
.greenLight p {
  color: var(--custom-white);
}
.greenLight:hover {
  color: var(--custom-green);
}
.redLight {
  background-color: var(--custom-red);
}
.redLight:hover {
  color: var(--custom-red);
}
.amberLight {
  background-color: var(--custom-orange);
}
.amberLight:hover {
  color: var(--custom-orange);
}
/* When there is an icon and text as the content within */
.greenLight:hover i,
.greenLight:hover p {
  color: var(--custom-green);
}
/* When there is an icon and text as the content within */
.redLight:hover i,
.redLight:hover p {
  color: var(--custom-red);
}
/* For rounded elements */
.round {
  border-radius: 50%;
  width: 57px;
  height: 57px;
}
